<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | PressureWashingAndSoForth</title>
    <link rel="stylesheet" href="/public/index.css">
</head>

<body>
    <header id="home">
        <h1>Pressure Washing And So Forth</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#beforeandafter">Before And After</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
        <div id="more-wrapper">
            <div id="more"></div>
        </div>
    </nav>
    <section id="about">
        <article>
            <h1>About</h1>
        </article>
    </section>
    <section id="testimonials">
        <article>
            <h1>Testimonials</h1>
        </article>
    </section>
    <section id="beforeandafter">
        <article>
            <h1>Before And After</h1>
            <div class="carousel">
                <div class="carousel-slides">
                    <img src="/public/IMG_0204.jpg" alt="Before After One">
                    <img src="/public/IMG_0279.jpg" alt="Before After Two">
                    <img src="/public/IMG_0317.jpg" alt="Before After Three">
                </div>
            </div>
        </article>
    </section>
    <section id="contact">
        <article>
            <h1>Contact Us</h1>
        </article>
    </section>
    <footer>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </footer>
    <script src="/public/index.js"></script>
</body>

</html>