<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | PressureWashingAndSoForth</title>
    <link rel="stylesheet" href="/public/index.css">
</head>
<body>
    <div class="snap-scroll">
        <header>
            <h1>Pressure Washing And So Forth</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
        <div class="snap-scroll content-wrapper">
            <section id="about">
                <article>
                    <h1>About</h1>
                </article>
            </section>
            <section id="testimonials">
                <article>
                    <h1>Testimonials</h1>
                </article>
            </section>
            <section id="contact">
                <article>
                    <h1>Contact Us</h1>
                </article>
            </section>
            <footer>
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </footer>
        </div>
    </div>
    <!-- <div style="height: 100%; background-color: blue; overflow-y: scroll; scroll-snap-type: y mandatory;">
        <h1 style="height:95%; margin-bottom: 100px; background-color: tan; scroll-snap-align: start;">Contact Us</h1>
        <nav>
            dude
        </nav>
        <article style="scroll-snap-align: start; scroll-snap-align: start;">
            <h1>Contact Us</h1>
        </article>
        <div style="background-color: violet; height: 100%; margin-top: 30px; margin-bottom: 100px; scroll-snap-align: start;">
            bob
        </div>
    </div> -->
    <script src="/public/index.js"></script>
</body>
</html>